
    
    <div ng-show="showInstructions" style=" font-family: 'Poppins';">
        <div class="inst">
                <style>
                        .inst {
                            margin-left: 100px;
                            margin-right: 100px;
                        }
                    
                        @media (max-width: 768px) {
                        .inst{
                            margin-left: 20px;
                            margin-right: 20px;
                    
                        }
                        }
                        </style>
            <h3 style="color: black" class="center">Guidelines</h3>
        <div class="wrap">
            <ol>
                <li>Like, follow and subscribe to our official handle of Mood Indigo, IIT Bombay on Instagram, Facebook, Twitter and Youtube for regular updates.</li>
                <li>The Profile section will contain personal details of both College Head and Associate, Where CH can update his profile and can view details of his CA.</li>
                <li>The Notification Tab would contain all the post shared by Mood Indigo through its Official Online Media.</li>
                <li>The Leaderboard section will contain the rankings of top-performing College Heads, a separate leaderboard for College Associates of the respective college, and an Overall Contingent leaderboard. The Overall College leaderboard will get active after the registration for competitions starts.</li>
                <li>There would be a prize distribution once every fortnight (on the basis of the performance of the previous 15 days) and grand prizes and awards for Overall College Head and Overall Contingent winner will be given after completion of tenure.</li>
                <ol type="a" class="sub">
                        <li>Overall Contingent Winner: Prize and award will be given on the basis of the number of participants from the college in Mood Indigo’s competitions as well as on the basis of performance(prizes won) in them.</li>
                        <li>Overall Head of Mood Indigo: Prize and award will be given on the basis of the working of the College Head, working of the College Associates under the Head, as well as participation & performance from the respective college.</li>
                </ol>
                <li>Points tally System (Parameters to earn points)</li>
                <ol type="a" class="sub">
                        <li>Posts from the official Facebook page of Mood Indigo should be shared directly from the page, for the points to be updated on the leaderboard</li>
                        <li>Posts from the official Instagram account of Mood Indigo should be added to a story and the Mood Indigo account should be tagged in the story, in order to earn points for the leaderboard.</li>
                        <li>Shares from the CCP portal should always be public, otherwise, points won’t get increased in the leaderboard.</li>
                        <li>Points for conducting events in the respective colleges will be updated only after the relevant images are uploaded as posts in the blog section of the CCP Portal.</li>
                        <li>College Head ID shall be used only for- </li>
                </ol>
                    <ol type="i" class="subsub">
                        <li>Registration of College Associates</li>
                        <li>Registration at the Main website</li>
                        <li>Registration of the competitions</li>
                        <li>Any other use of ID as a referral</li>
                    </ol>
                <li>Category System: On the basis of the points earned in a fortnight(based on social media activity), each CH will be allotted a category. For example- if the points earned are more than 75% of the maximum points that can be earned(due to social media activity) during the period of 14 days, then the category allotted will be Platinum.
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Range</th>
                                <th>Category</th>
                                <th>Factor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>100%-75%</td>
                                <td>Platinum</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                    <td>75%-50%</td>
                                    <td>Diamond</td>
                                    <td>1.3</td>
                                </tr>
                                <tr>
                                        <td>50%-25%</td>
                                        <td>Gold</td>
                                        <td>1.15</td>
                                    </tr>
                                    <tr>
                                            <td>25%-0%</td>
                                            <td>Silver</td>
                                            <td>1</td>
                                        </tr>
                        </tbody>
                    </table>
                    Example. If on sharing a post, 100 points are given, then points for Silver - 100, 
    Gold - 115, Diamond - 130, Platinum - 150 respectively.<br>
    Benefits of higher categories-
    <ol type="a" class="sub">
            <li>Earn more points for the same post by X times the factor</li>
            <li>More opportunity to climb the leaderboard </li>
            <li>Higher chances to win fortnight prizes </li>
    </ol>
                </li>
                <li>Ideate section will consist of 3 parameters Wishlist, College President details and College Cultural Festival details(if any)
                        </li>
                <ol type="a" class="sub">
                        <li>Wishlist: You can fill your dream artist name you want to see at Mood Indigo 2019, you can also ideate new events for the fest and put your thoughts regarding any event(maximum 10 entries allowed).
                                </li>
                        <li>College President details: Provide the contact details of Cultural heads, General Secretaries or President of your college(maximum 5 entries allowed).						</li>
                        <li>College Cultural Festival details: Enter the details of the cultural festival organized in your college or nearby college.</li>
                </ol>
                <li>Points for organizing events in the respective colleges will be variable depending on the scale of event and updating of points will occur after verification from the team and on basis of the relevant images uploaded as proof in the blog section.</li>
                <li>If anyone is found to be involved in any type of invalid practices to earn faulty points then, Mood Indigo Core Team’s decision would be final for terminating the tenure of the Head/Associate.</li>
                
            </ol>
        </div>
        <!-- content -->
    </div></div><br>
    
    
    <div ng-hide="showInstructions">
        
    </div>