    <!-- <div class="button">
        <a routerLink="./fest"><button class="btn">COLLEGE FESTIVAL </button></a>
        <a routerLink="./sec"><button class="btn">COLLEGE SECRETARY</button></a>
    </div>
    <div class="button">
            <a routerLink="./cult"><button class="btn">CURATE EVENTS</button></a>
            <a routerLink="./artist"> <button class="btn">ARTISTS & EVENTS</button></a> -->
            <br><br><br><br>

<h1 style="text-align: center; font-weight: 700; font-family: Poppins;">Ideation</h1>
            <br><br>
      <!-- <div style="display: inline-block; width: 100%;"> -->
          <div style="text-align: center;">
        <div>
          <button class="btn" routerLink="fest">COLLEGE FESTIVAL</button>
        </div><br>
        <div>
          <button class="btn" routerLink="sec">COLLEGE SECRETARY</button>
        </div><br>
      <!-- </div> -->
      <!-- <br><br><br><br><br><br><br> -->
      <!-- <div style="display: inline-block; width: 100%;"> -->
        <div>
          <button class="btn" routerLink="cult">CURATE EVENTS</button>
      </div><br>
      <div>
        <button class="btn" routerLink="artist">ARTISTS & EVENTS</button>
        </div>
    </div>
    <br><br><br><br><br><br>
      <!-- </div> -->