/* .btn {
    background-color: black;
    color: white;
    border-color: black;
    font-size: 30px;
    padding: 8px 30px;
    border-radius: 30px;
    width: 50%;
    font-family: Poppins;
}

.btn:hover{
    background-color: white;
    color: black;
} */