<div class="main"><br><br><br><br>
  <h1 style="font-weight: 700;">Mood Indigo Orientation</h1>
  <br>
  <h3>Being a member of the organising team of Mood Indigo, it’s the duty of contingent leader and college head to organise an orientation of Moodi in your college to maintain the smooth flow of information about artists launch, competition, guidelines and  accommodation etc.</h3>
  <br>
  
  <label class="container">
    <input class="inp" type="checkbox" data-toggle="collapse" data-target="#one">
    <span style="font-size: 110%;"> I hereby confirm to conduct orientation in my college </span>
    </label>

  <br><br><br>
  <!-- <button class="btn">Confirm</button> -->
  <div id="one" class="collapse">
  <h3>The button below contains the instructions, guidelines, PDF and presentation that might help you to conduct the orientation and publicize Mood Indigo</h3>
  <br><a href="https://drive.google.com/drive/folders/1t4fvwJgNaRg1Oe5YtEKY0W0ZW7TXuNo7?usp=sharing" target="_blank"><button class="btn">Download</button></a>
</div>
  <br><br><br><br>
</div>