<!-- <div style="overflow: hidden" class="full-color" xmlns:searchFilter="http://www.w3.org/1999/xhtml"> -->

  <div style="text-align: center;">
    <br><br><br>
    <h1 class="headr">College Secretory Details</h1><br><br>
    <div class="container">
      <div class="regform">
      <form >
          <table>
            <tr>
              <td class="text"><label for="name">NAME:</label></td>
              <td class="input"><input name="name" id="name" placeholder="Your Name"></td>
            </tr>
            <tr>
              <td><label for="currentclg">COLLEGE:</label></td>
              <td><input style="margin-bottom: 0px" name="people" id="currentclg" placeholder="Select Your College" autocomplete="none">
              </td>
            </tr>
          <tr>
              <td><label for="por">DEESIGNATION:</label></td>
              <td><input name="por" id="por" placeholder="Your Designation"></td>
            </tr>
            <tr>
                <td><label for="contactnumber">CONTACT NUMBER:</label></td>
                <td><input type="number" name="contactnumber" id="contactnumber" placeholder="Contact Number"></td>
              </tr>
              <tr>
            <tr>
              <td><label for="email">E-MAIL ID:</label></td>
              <td><input type="email" name="email" id="email" placeholder="" autocomplete="none">
              </td>
            </tr>
            <br>
          </table>
          <div style="text-align: center;"><button class="btn" type="submit">SUBMIT</button></div>
        </form>
        <br><br><br>
      </div>
    </div>

  </div>
<!-- </div> -->
