<div style="font-family: Poppins;">
  <div class="site-wrap">
 
   
      
     <div class="site-blocks-cover overlay" style="background-image: url(../../assets/img/clhome.jpeg);" data-aos="fade" id="home-section">
 
       <div class="container">
         <div class="row align-items-center justify-content-center">
 
           
           <div class="col-md-10 mt-lg-5 text-center">
               <div class="hero-logo">
                   <img class="" src="../../assets/MoodI_logo.png" alt="Imperial">
                 </div>
               <h1 style="font-size: 30px;color: #007bff; font-weight: 900; ">College Connect Program</h1>
             <div class="single-text owl-carousel">
               
              <div class="slide">
                 <h1 class="text-uppercase" data-aos="fade-up">Contingent Leader</h1>
                 <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100" style="font-size: 18px;">Register yourself to become part of Asia’s largest college outreach program of <br>Mood Indigo, IIT Bombay<br>
                  <!-- <br>Application deadline: 26th October, 2019 -->
                 </p>
                 <div data-aos="fade-up" data-aos-delay="100">
                     <a *ngIf="!status" (click)="login()" class="btn  btn-primary mr-2 mb-2" style="font-size: 15px; color: white; padding: 10px 10px; border-radius: 5%;">REGISTER / LOGIN</a>
                     <a *ngIf="status" (click)="profile()" class="btn  btn-primary mr-2 mb-2" style="font-size: 15px; color: white; padding: 10px 10px; border-radius: 5%;">Profile</a>
 
                   </div>
                   <button style="display: none" id="button"></button>
               </div>
 
 
             </div>
           </div>
             
         </div>
       </div>
     </div>  
 
 
     
     </div>
   </div>