<!-- <div style="overflow: hidden" class="full-color" xmlns:searchFilter="http://www.w3.org/1999/xhtml"> -->

  <div style="text-align: center;">
    <br><br><br>
    <h1 class="headr" style="margin-bottom: 0;">Organise Events</h1><br><br>
          <h3 style="margin-top: 0;">Events that you would participate in if Mood Indigo organize it in your college</h3>
          <div id="check" style="text-align: left; font-size: 20px;"><br>
          <input type="checkbox" name="event" id="event"><span>  Mental health awareness sessions</span>
     <br> <input type="checkbox" name="event" id="event"><span>  Dance workshops</span>
     <br> <input type="checkbox" name="event" id="event"><span>  Concerts</span>
     <br> <input type="checkbox" name="event" id="event"><span>  Elimination rounds of various competitions</span>
     <br> <input type="checkbox" name="event" id="event"><span>  Mood Indigo Orientation</span>
     <br> <input type="checkbox" name="event" id="event"><span>  Zumba workshops</span>
     <br> <input type="checkbox" name="event" id="event"><span>  Fitness sessions</span>
     <br> <input type="checkbox" name="event" id="event"><span>  Guest lectures</span><br></div>
     <br> <div style="text-align: center;"><button class="btn" type="submit">SUBMIT</button></div>  
     <br><br><br><br>      

  </div>
<!-- </div> -->
