

// .bg2 {

//     z-index: -1;
//     width:100%;
//     left: 0px;
//   }
  
//   .full-color{
//     background-color: crimson;
//     /* height:100vh; */
//     margin:5.5% 4% 3% 4%;
//     padding-bottom:3%;
//     border-radius: 5%;
//     border: groove black!important;
//     border-width: 0 1px;
//   }
  
  
//   .container{
//     /* margin-left: 180px; */
//     position: relative;
//     text-align: center;
//   }
  
//   .headr{
//     font-family: Welcome;
//     font-size: 4.3em;
//     margin-top: 3%;
//     color: white;
//     text-align: center;
//     margin-bottom: 0;
//   }
  
//   div.gallery img {
//     width: 80%;
//     height: auto;
//   }
  
//   div.desc {
//     text-align: center;
//     font-size: 25px;
//   }
  
//   * {
//     box-sizing: border-box;
//   }
  
//   .responsive {
//     padding: 30px 30px;
//     float: left;
//     width: 25%;
//     /* margin-left: 40px; */
//   }
  
//   .regform{
//     width: 100%;
//     align-self: center;
//     top: 0;
//     color: white;
//   }
  
//   span {
//     font-size: 20px;
//     font-family: Verdana, cursive;
//     margin-top: 0px;
//     color: white;
//     width: 100%;
//     text-align: center;
//   }
  
//   form {
    
//     font-size: 150%;
//     background-color: transparent;
//     outline: none;
//     color:white;
//   }
 
//   .dropdown{
//     position: absolute;
//     width: 75%;
//     padding-left: 10%;
//     padding-right: 5%;
//     align-content: center;
//     child-align: middle;
//     max-height: 217px;
//     z-index: 1;
//     overflow-y: auto;
//     border-radius: 2em;
//     color: black;
//   }
  
//   .dropdown::-webkit-scrollbar { width: 0 !important }
  
//   .dropdown-option{
//     font-size: large;
//     background-color: white;
//     border-radius: 2em;
//     height: 10%;
//     padding: 1.5%;
//   }
//   .dropdown-option:hover{
//     background-color: cadetblue;
//   }
//   .dropdown div{
//     width: 80%;
//   }
div #check{
  margin-left: 450px;
}

#event {
  margin-top: 0;
}
  
  @media only screen and (max-width: 1000px) {
    .responsive {
      width: 100%;
    }
    span {
      font-size: 14px;
    }
    div #check{
      margin-left: 15.62%;
    }
    .input {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 750px) {
    .responsive {
      width: 100%;
    }
    span {
      font-size: 14px;
    }
    .input {
      font-size: 14px;
    }
  
    // .headr {
    //   font-size: 3.3em;
    // }
    div #check{
      margin-left: 15.62%;
    }
  }
//   .logo{
//     width: 13%;
//     height: auto;
//     position: relative;
//     margin-top: 3%;
//     margin-left: 4%;
//   }
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
    span {
      font-size: 10px;
    }
    .dropdown {
      padding-right: 8%;
    }
    .input {
      font-size: 14px;
    }
  
    // .headr {
    //   font-size: 3.3em;
    // }
    .logo{
      display: none
    }
     div #check{
       margin-left: 15.62%;
     }
  }
  
//   .button{
//     background-color: transparent;
//     color:black;
//     cursor: pointer;
//     width:auto;
//     font-weight: bold;
//     text-align: center;
//     font-size: 15px;
//     font-family: Verdana;
//     border: groove black!important;
//     border-width: 0 1px;
//     background-color: transparent;
//     cursor: pointer;
//     width:120px;
//     padding: 0.4em 1.5em;
//     border-radius: 2em;
//     outline: none !important;
//     margin-top: 20px;
//   }
  
//   .button:hover{
//     width:130px;
//     padding: 0.45em 1.6em;
//     font-size: 16px;
//     margin-top: 18px;
//   }
.btn {
  background-color: black;
  color: white;
  border-color: black;
  font-size: 30px;
  padding: 8px 30px;
  border-radius: 30px;
  width: 50%;
  font-family: Poppins;
}

.btn:hover{
  background-color: white;
  color: black;
}
  
@media screen and (max-width:700px){
  .btn{
      font-size: 15px;
  }
}
@media screen and (max-width:400px){
  .btn{
      font-size: 10px;
  }
}