<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                    <li>
                            <a target="_blank" href="https://moodi.org/competitions">
                                Competitions
                            </a>
                        </li>
                <li>
                    <a target="_blank" href="https://multicity.moodi.org/">
                        Multicity
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://iap.moodiorg">
                        IAP
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://livewire.moodi.org">
                        Livewire
                    </a>
                </li>
                <li>
                    <a target="_blank" href="#">
                        MI-Blog
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; <a target="_blank" href="https://www.facebook.com/prabhat7758">Creatives, Mood Indigo </a>{{test | date: 'yyyy'}} 
        </p>
    </div>
</footer>
