<div ng-show="showContactDetails">
	
		<!-- <div class="contac"> -->
		<h1  style=" font-family: 'Poppins'; text-align:center; font-weight:400;">Our Team</h1>
		
		<!-- <div class="row"  style=" font-family: 'Poppins';"> -->

				

		  <div class="container" style="text-align: center; font-family: Poppins; width: 100%;">
			<div class="card-columns">
				<div class="card">
			  <img src="../assets/img/prateek.jpg" alt="Prateek" style="width: 100%;"><br><br>
			  
					<p class="title" style="color: #000; font-size: 17px">Prateek Yadav<br>Hospitality & PR Head<br>+91-9131606808<br>prateek@moodi.org</p>
					<!-- <hr width="50%"> -->
					<div style="margin-bottom: 18px">
							<a href="https://www.linkedin.com/in/prateekydv5698/" target="_blank"><i class="fa fa-linkedin" style="font-size:20px;color:rgb(0,119,181);padding: 5px"></i></a>&nbsp;&nbsp;
							<a href="https://twitter.com/prateek5698" target="_blank"><i class="fa fa-twitter" style="font-size:20px;color:rgb(85,172,238);padding: 5px"></i></a>&nbsp;&nbsp;
							<a href="https://www.instagram.com/yadavji__p05/" target="_blank"><i class="fa fa-instagram" style="font-size:20px;color:rgb(35,31,32);padding: 5px"></i></a>&nbsp;&nbsp;
							<a href="https://www.facebook.com/prateek5698" target="_blank"><i class="fa fa-facebook-f" style="font-size:20px;color:rgb(59,89,152); padding: 5px"></i></a>
					</div>
			
			</div>
		
				<div class="card">
				  <img src="../assets/img/prabhat.jpg" alt="Prabhat" style="width: 100%;"><br><br>
				  
						<p class="title" style="color: #000; font-size: 17px;">Prabhat Singh<br>Technical Head<br>+91-8115618738<br>prabhat@moodi.org</p>
						<div style="margin-bottom: 18px" >

								<a href="https://www.linkedin.com/in/prabhat7758/" target="_blank"><i class="fa fa-linkedin" style="font-size:20px;color:rgb(0,119,181);padding: 5px"></i></a>&nbsp;&nbsp;
								<a href="https://twitter.com/prabhat7758" target="_blank" ><i class="fa fa-twitter" style="font-size:20px;color:rgb(85,172,238);padding: 5px"></i></a>&nbsp;&nbsp;
								<a href="https://www.instagram.com/pra_b_hat" target="_blank" ><i class="fa fa-instagram" style="font-size:20px;color:rgb(35,31,32);padding: 5px"></i></a>&nbsp;&nbsp;
								<a href="https://www.facebook.com/prabhat7758" target="_blank" ><i class="fa fa-facebook-f" style="font-size:20px;color:rgb(59,89,152); padding: 5px"></i></a>
							  </div>
					
				</div>
		
					<div class="card">
						
					  <img src="../assets/img/Suchit.png" alt="Suchit" style="width: 100%;"><br><br>
					  
							<p class="title" style="color: #000; font-size: 17px">Suchit Sharma<br>Hospitality & PR Head<br>+91-9560622901<br>suchit@moodi.org</p>
							
							<div style="margin-bottom: 18px">

									<a href="https://www.linkedin.com/in/suchit-sharma-27718316b/" target="_blank"><i class="fa fa-linkedin" style="font-size:20px;color:rgb(0,119,181);padding: 5px"></i></a>&nbsp;&nbsp;
									<a href="https://twitter.com/SuchitS99064025" target="_blank"><i class="fa fa-twitter" style="font-size:20px;color:rgb(85,172,238);padding: 5px"></i></a>&nbsp;&nbsp;
									<a href="https://www.instagram.com/suchiiee__2110/?hl=en" target="_blank"><i class="fa fa-instagram" style="font-size:20px;color:rgb(35,31,32);padding: 5px"></i></a>&nbsp;&nbsp;
									<a href="https://www.facebook.com/suchit.sharma.5099" target="_blank"><i class="fa fa-facebook-f" style="font-size:20px;color:rgb(59,89,152); padding: 5px"></i></a>
								  </div>
						</div>
					
		
<!-- </div> -->
<!-- </div> -->
</div>

<div ng-hide="showContactDetails">
	<!--div class="progress brown lighten-3">
	    <div class="indeterminate brown darken-1"></div>
	</div-->
</div>